<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">WTFSNS</a>
            <p class="navbar-text navbar-right">Designed by <a href="http://heartblood.coding.io/" class="navbar-link">heartblood</a></p>
        </div>
    </nav>
</div>



<div class="home-content">

    <div class='home-slide-box'>
        <div class='box'>
            <a><div class='card bg-01'><span class='card-content'>主页</span></div>            </a>
        </div>
        <div class='box'>
            <a><div class='card bg-02'><span class='card-content'>long menu item #2</span></div>            </a>
        </div>
        <div class='box'>
            <a><div class='card bg-03'><span class='card-content'>menu item #3</span></div>            </a>
        </div>
        <div class='box'>
            <a> <div class='card bg-04'><span class='card-content'>item #4</span></div>            </a>
        </div>
        <div class='box'>
            <a><div class='card bg-05'><span class='card-content'>menu item #5</span></div>            </a>
        </div>
        <div class='box'>
            <a><div class='card bg-06'><span class='card-content' data-toggle="modal" data-target="#heartbloodinfo"> Designed by heartblood </span></div>            </a>
        </div>
    </div>
    <div class="home-person-display">
        <div style="float:right; padding-right: 15%;">
            <!-- Demo Navigation -->
            <nav class="nav clearfix">
                <button class="nav-el" id="el-topleft" data-id="ov-topleft"><span class="icon-heart"></span></button>
                <button class="nav-el" id="el-topright" data-id="ov-topright"><span class="icon-cloud"></span></button>
                <button class="nav-el" id="el-btmleft" data-id="ov-btmleft"><span class="icon-location"></span></button>
                <button class="nav-el" id="el-btmright" data-id="ov-btmright"><span class="icon-search"></span></button>
            </nav>
            <!-- Overlay (hidden by default)-->
            <section class="home-overlay" id="ov-topleft" >
                <div class="home-wrap">
                    <h1>Section 1</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="close"><span class="glyphicon glyphicon-remove mfg-cancel"></span></button>
            </section>

            <section class="home-overlay" id="ov-topright">
                <div class="home-wrap">
                    <h1>Section 2</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="close"><span class="glyphicon glyphicon-remove mfg-cancel"></span></button>
            </section>

            <section class="home-overlay" id="ov-btmleft">
                <div class="home-wrap">
                    <h1>Section 3</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="close"><span class="glyphicon glyphicon-remove mfg-cancel"></span></button>
            </section>

            <section class="home-overlay" id="ov-btmright">
                <div class="home-wrap">
                    <h1>Section 4</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="close"><span class="glyphicon glyphicon-remove mfg-cancel"></span></button>
            </section>


        </div>
        <div style="float: left;">
            <!-- Demo Navigation -->
            <nav class="nav clearfix">
                <button class="nav-el" id="left-el-topleft" data-id="left-ov-topleft"><span class="icon-heart"></span></button>
                <button class="nav-el" id="left-el-topright" data-id="left-ov-topright"><span class="icon-cloud"></span></button>
                <button class="nav-el" id="left-el-btmleft" data-id="left-ov-btmleft"><span class="icon-location"></span></button>
                <button class="nav-el" id="left-el-btmright" data-id="left-ov-btmright"><span class="icon-search"></span></button>
            </nav>
            <!-- Overlay (hidden by default)-->
            <section class="home-overlay" id="left-ov-topleft" >
                <div class="home-wrap">
                    <h1>美女 1</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="close"><span class="glyphicon glyphicon-remove mfg-cancel"></span></button>
            </section>

            <section class="home-overlay" id="left-ov-topright">
                <div class="home-wrap">
                    <h1>美女 2</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="close"><span class="glyphicon glyphicon-remove mfg-cancel"></span></button>
            </section>

            <section class="home-overlay" id="left-ov-btmleft">
                <div class="home-wrap">
                    <h1>美女 3</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="close"><span class="glyphicon glyphicon-remove mfg-cancel"></span></button>
            </section>

            <section class="home-overlay" id="left-ov-btmright">
                <div class="home-wrap">
                    <h1>美女 4</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <button class="close"><span class="glyphicon glyphicon-remove mfg-cancel"></span></button>
            </section>


        </div>

    </div>


</div>



<!-- Modal -->
<div class="modal fade " id="heartbloodinfo" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">关于heartblood</h4>
            </div>
            <div class="modal-body">
                <p style="text-align:center;">一名垃圾搬砖者</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>